@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 1rem;
  text-align: center;
}

img {
  margin-bottom: 2rem;
}

.name {
  font-size: 2rem;
}

.header {
  margin-bottom: 1rem;
}
